<h1 class="page-header">
  <%= t('messages.listing', model_name: translate_model(@subjects, @subjects.size)) %> 
</h1>
<%= render "table"%>

<div class="text-center">
  <%=  paginate @subjects %>
</div>
