

<% if user_signed_in? %>
  <h2>Usuário está logado</h2>
  <p>Usuário: <%= current_user.email %></p>
<% else %>
  <h2>Usuário está deslogado</h2>
<% end  %>

<% if admin_signed_in? %>
  <h2>Administrador está logado</h2>
  <p>Administrador: <%= current_admin.email %> </p>
<% else %>
  <h2>Admin está deslogado</h2>
<% end  %>